In [10]:
##Arithmetic Operators

a=10
b=5
result1=a+b #addition
result2=a-b  #substraction
result3=a*b  #multiplication
result4=a/b  #division
result5=a//b  #floor division
result6=a%b  #modulus operation
result7=a**b #Exponentiation
print(result1,result2,result3,result4,result5,result6,result7)

15 5 50 2.0 2 0 100000

In [11]:
10/5

2.0

In [12]:
21/5

4.2

In [13]:
##Comparison Operator

## == Equal to operator

a=10
b=10

result=(a==b)
result

True

In [14]:
str1="Chetana"
str2="Rane"

str1==str2

False

In [15]:
##Not equal to

str1!=str2

True

In [16]:
str3=

SyntaxError: invalid syntax (4148876987.py, line 1)

In [17]:
str3="Chetana"
str4="chetana"

str3!=str4

True

In [18]:
##Greater than

a=20
b=30

#greater than
a>b

False

In [20]:
#less than 

a<b

True

In [22]:
#greater than or equal to

num1=45
num2=45

num1>=num2

True

In [24]:
#less than equal to

num1=44
num2=45

num1<=num2

True

In [27]:
##Logical Operators

## AND,NOT,OR

x=True
y=False

result= x and y
print(result)

r=x or y
print(r)

False
True

In [28]:
#NOT operator

x=True
not x

False