In [1]:
1+1

2

In [2]:
print("hello world")

hello world

In [3]:
##Basic syntax ruiles in python
'''hello'''
##Case sensitivity
print("hello")

hello

In [4]:
name="Chetana"
Name="Rane"

print(name)
print(Name)

Chetana
Rane

In [5]:
##Indentation

age=32
if age>30:
    print(age)
print(age)

32
32

In [6]:
#Line Continuation(\)

total=1+2+3+4+5+6+7+\
4+5+6

print(total)

43

In [7]:
##Multiple statements on a single line 
x=5;y=10;z=x+y
print(z)

15

In [8]:
##Understand Semnatics in python
#Variable assignment

age=32  #age is an integer
name="Chetana" #name is a string

In [9]:
type(age)

int

In [10]:
type(name)

str

In [11]:
#Type Inference

variable=10
print(type(variable))
variable="Chetana"
print(type(variable))

<class 'int'>
<class 'str'>

In [12]:
#name error
a=b

NameError: name 'b' is not defined

In [19]:
#Code examples of identation

if True:
    print("Correct Indenatation") 
    if False:
        print("This ont print")
    print("This will print")
print("Outside the if block")

Correct Indenatation
This will print
Outside the if block