In [2]:
#Tuples are ordered collections of items that are immutable.
#They are similar to lists, but their immutabilty makes them different.

In [3]:
#Creating a tuple

empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [5]:
lst=list()
print(type(lst))

tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [6]:
numbers=tuple([1,2,3,4,5])
numbers

(1, 2, 3, 4, 5)

In [7]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [8]:
mixed_tuple=(1,"Hello World",3.14,True)
mixed_tuple

(1, 'Hello World', 3.14, True)

In [9]:
##Accessing tuple elements

numbers

(1, 2, 3, 4, 5)

In [11]:
print(numbers[2])
print(numbers[-1])

3
5

In [12]:
numbers[0:4]

(1, 2, 3, 4)

In [13]:
numbers[1:4]

(2, 3, 4)

In [14]:
numbers[::-1]

(5, 4, 3, 2, 1)

In [16]:
#Tuple Operations

concatenation_tuple = numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 1, 'Hello World', 3.14, True)

In [17]:
mixed_tuple * 3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [18]:
numbers * 3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [21]:
##Immutable Nature of Tuples
##Tuples are immutable, meaning their elements cannot be changed once assigned.

lst=[1,2,3,4,5]
print(lst)

lst[1]="Chetana"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Chetana', 3, 4, 5]

In [23]:
numbers[1]="Chetana"

TypeError: 'tuple' object does not support item assignment

In [28]:
numbers_lst=list(numbers)
numbers_lst

[1, 2, 3, 4, 5]

In [29]:
numbers=tuple([1,2,3,4,5])
numbers

(1, 2, 3, 4, 5)

In [34]:
##Tuple methods

print(numbers.count(1))
print(numbers.index(4))

1
3

In [35]:
##Packing and unpacking tuples

packed_tuples=1,"Chetana",3.14
print(packed_tuples)

(1, 'Chetana', 3.14)

In [36]:
#Unpacking a tuple

a,b,c=packed_tuples

print(a)
print(b)
print(c)

1
Chetana
3.14

In [38]:
##Unpacking with *

numbers=(1,2,3,4,5)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4]
5

In [42]:
##Nested Tuple
#Nested List

lst=[[1,2,3,4],[5,6,7,8],[1,"Chetana",9.7,"v"]]
print(lst[0])
print(lst[0][2])
print(lst[0][0:3])

[1, 2, 3, 4]
3
[1, 2, 3]

In [3]:
nested_tuple=((1,2,3),("a","b","c"),(True,False))
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [4]:
##Iterating over nested tuples

for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False