1) Write a Python program for the following â€“
a) Display information about the database.
b) List of all tables in the database

In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\admin\anaconda3\lib\site-packages (9.1.0)

In [3]:
import mysql.connector

In [5]:
mydb=mysql.connector.connect(host='localhost',user='root',password='fcp@123',database='chetana',use_pure=True)

In [6]:
mycursor=mydb.cursor()

In [9]:
mycursor.execute("SHOW DATABASES")
databases = mycursor.fetchall()  

print("List of databases in MySQL:")
for x in databases:
    print(x[0])

List of databases in MySQL:
chetana
customer
information_schema
mysql
performance_schema
sakila
sys
world

In [11]:
mycursor.execute('show tables')

print("List of tables in MySQL:")
for x in mycursor:
    print(x)

List of tables in MySQL:
('account',)
('animal',)
('bill',)
('branch',)
('cafeteria',)
('cat',)
('customer',)
('customer1',)
('department',)
('department1',)
('doctor',)
('doctor_patient',)
('employee',)
('employee_department',)
('expense',)
('investor',)
('loan_application',)
('menu',)
('passenger',)
('patient',)
('person',)
('project',)
('room',)
('salesman',)
('ticket',)
('train',)
('train_pass',)
('train_passenger',)
('trip',)

2)Write a Python program to connect a database and create the following table within the database.
Product (product_id, product_name, rate, quantity)

In [16]:
import mysql.connector

mydb1=mysql.connector.connect(host='localhost',user='root',password='fcp@123',database='chetana',use_pure=True)

mycur=mydb1.cursor()

mycur.execute("create table product(product_id int primary key,product_name varchar(25),rate int,quantity int)")

mycur.execute('show tables')

print("List of tables after inserting product table:")
for x in mycur:
    print(x)

List of tables after inserting product table:
('account',)
('animal',)
('bill',)
('branch',)
('cafeteria',)
('cat',)
('customer',)
('customer1',)
('department',)
('department1',)
('doctor',)
('doctor_patient',)
('employee',)
('employee_department',)
('expense',)
('investor',)
('loan_application',)
('menu',)
('passenger',)
('patient',)
('person',)
('product',)
('project',)
('room',)
('salesman',)
('ticket',)
('train',)
('train_pass',)
('train_passenger',)
('trip',)

3)Write a Python program to insert 5 records in the Product table and display all the records

In [18]:
import mysql.connector

mydb2=mysql.connector.connect(host='localhost',user='root',password='fcp@123',database='chetana',use_pure=True)

cur=mydb2.cursor()

cur.execute('''insert into product(product_id,product_name,rate,quantity) values (1,"pen",23,21),(2,"book",11,10),(3,"pencil",45,3),(4,"mobile",1300,13),(5,"eraser",23,12)''')

mydb2.commit()

cur.execute("select * from product;") 
rows = cur.fetchall()

if rows:
    print("\nProduct Table Records:")
    print("Product ID | Product Name | Rate | Quantity")
    for row in rows:
        print(row)
else:
    print("\nNo records found in the Product table.")

cur.close()
mydb2.close()

Product Table Records:
Product ID | Product Name | Rate | Quantity
(1, 'pen', 23, 21)
(2, 'book', 11, 10)
(3, 'pencil', 45, 3)
(4, 'mobile', 1300, 13)
(5, 'eraser', 23, 12)

4)Write a program to update the rate of the product with product_id 105 in the Product table.

In [20]:
import mysql.connector

mydb3=mysql.connector.connect(host='localhost',user='root',password='fcp@123',database='chetana',use_pure=True)

cur1=mydb3.cursor()

cur1.execute("UPDATE product SET rate = 50 WHERE product_id = 1")

cur1.execute("SELECT * FROM product;")
rows = cur1.fetchall()

if rows:
    print("\nProduct Table Records:")
    print("Product ID | Product Name | Rate | Quantity")
    for row in rows:
        print(row)
else:
    print("\nNo records found in the Product table.")

Product Table Records:
Product ID | Product Name | Rate | Quantity
(1, 'pen', 50, 21)
(2, 'book', 11, 10)
(3, 'pencil', 45, 3)
(4, 'mobile', 1300, 13)
(5, 'eraser', 23, 12)