In [1]:
Emp={"Id":1,"Name":"abc","salary":5000}
print(Emp)

{'Id': 1, 'Name': 'abc', 'salary': 5000}

In [2]:
print("Employee Name: ",Emp["Name"])

Employee Name:  abc

In [3]:
print(Emp.get("salary"))

5000

In [4]:
d={"rollno":[10,20,30],"name":["arya","chetana","yami"],"class":['fy','sy','ty']}
print(d)

{'rollno': [10, 20, 30], 'name': ['arya', 'chetana', 'yami'], 'class': ['fy', 'sy', 'ty']}

In [7]:
print(d.get("rollno"))

[10, 20, 30]

In [10]:
print(Emp.keys())

dict_keys(['Id', 'Name', 'salary'])

In [11]:
print(d.values())

dict_values([[10, 20, 30], ['arya', 'chetana', 'yami'], ['fy', 'sy', 'ty']])

In [12]:
print(d["name"])

['arya', 'chetana', 'yami']

In [14]:
for i in d.values():
    print(i)

[10, 20, 30]
['arya', 'chetana', 'yami']
['fy', 'sy', 'ty']

In [15]:
for i in d:
    print(i)

rollno
name
class

In [18]:
for i in d.values():
    for j in i:
        print(j)

10
20
30
arya
chetana
yami
fy
sy
ty

In [19]:
d["name"]="Abc"
print(d)

{'rollno': [10, 20, 30], 'name': 'Abc', 'class': ['fy', 'sy', 'ty']}

In [20]:
d.pop("name")
print(d)

{'rollno': [10, 20, 30], 'class': ['fy', 'sy', 'ty']}

In [22]:
for i in d:
    print(i,d[i])

rollno [10, 20, 30]
class ['fy', 'sy', 'ty']

In [23]:
for key,value in d.items():
    print(key,value)

rollno [10, 20, 30]
class ['fy', 'sy', 'ty']

In [24]:
for key,value in Emp.items():
    print(key,value)

Id 1
Name abc
salary 5000

In [25]:
s1=Emp.copy()
print(s1)

{'Id': 1, 'Name': 'abc', 'salary': 5000}

In [26]:
s2=dict(d)
print(s2)

{'rollno': [10, 20, 30], 'class': ['fy', 'sy', 'ty']}