In [22]:
#1:Add a list of elements to a set


a={1,2,3,4,5}
b={6,7,8,9}

d=a.union(b)
print(d)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [23]:
#2.Return a new set of identical items frm two sets

t1={1,2,3,24,235,232,23,4}
t2={2,3,5,6,1,5,4,9}

c=t1.intersection(t2)
print(c)

{1, 2, 3, 4}

In [24]:
#3.Get only unique items from two sets

d=t1.symmetric_difference(t2)
print(d)

{5, 6, 232, 9, 235, 23, 24}

In [36]:
#4.Update the first set with items that dont exist in the second set

s=t1.union(t2)
print(s)

{1, 2, 3, 4, 5, 6, 232, 9, 235, 23, 24}

In [26]:
#5.Return a set of elements present in set A or B, but not both.

d=t1.symmetric_difference(t2)
print(d)

{1, 2, 3, 4, 5, 6, 9, 23, 24, 232, 235}

In [33]:
#6.Check if two sets have any elements in common.if yes,display the common elements

a={1,2,3,4}
b={3,4,2}

c=a.intersection(b)
print(c)

{2, 3, 4}

In [34]:
#7.Update set1 by adding items from set2,except common items.

x=a.union(b)
print(x)

z=x.difference(c)
print(z)

{1, 2, 3, 4}
{1}

In [35]:
#8.Remove items from set1 that are not common to both set1 and set2.,

y=a.intersection(x)
print(y)

{1, 2, 3, 4}